* {
  box-sizing: border-box;
}
body {
  margin: auto;
  justify-content: center;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}
#bg-video {
  position: fixed;
  right: auto;
  bottom: auto;
  min-width: 100%;
  min-height: 100%;
}
.content {
  position: fixed;
  bottom: 0;

  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.center {
  text-align: center;
  background-color: yellow;
  color: royalblue;
  margin: auto;
  height: auto;

  max-width: fit-content;
  max-height: fit-content;

  border-radius: 50px;
  overflow: auto;
  animation: pulse 5s infinite;
}

.code {
  background-color: darkgreen;
  width: 180px;
  justify-items: center;
  height: 40px;
  margin: 0 auto;
  border-radius: 5px;
}
.code img {
  border-radius: 2px;
}
.information {
  color: darkblue;
  font-family: sans-serif;
}
.information a {
  color: orangered;
  text-decoration: none;
  opacity: 0.7;
}
.information a:hover {
  color: red;
  opacity: 1;
}

@keyframes pulse {
  0% {
    background-color: rgb(240, 224, 8);
  }
  30% {
    background-color: rgb(158, 218, 19);
  }
  55% {
    background-color: rgb(96, 218, 15);
  }
  65% {
    background-color: rgb(9, 167, 4);
  }
  85% {
    background-color: rgb(159, 247, 28);
  }
  100% {
    background-color: yellow;
  }
}
